################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RenderDemo/.vs
/RenderDemo/bin/Debug
/RenderDemo/obj
