################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vs
/RenderDemo/bin/Debug
/RenderDemo/bin/Release
/RenderDemo/obj/Debug
/RenderDemo/obj/Release
